@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Lato:wght@700&family=Oleo+Script+Swash+Caps&family=Roboto:ital@1&family=Source+Serif+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prenoms{
    display:inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    
}
.navbar{
    /* background-color: black; */
    padding: 25px;
    gap: 5%;
    display: flex;
    background-color: #24252a;
    font-size: 1.2em;
    justify-content: center;

}

li{
    list-style-type: none;
    transition: all 0.3s ease 0s;
}

.prenoms:hover{
    color: #0088a9;
    transition: all 0.3s ease 0s;
}

.navbar::after{
    content: "Les piliers du groupe";
    position: absolute;
    width: 60%;
    height: 70px;
    background-color: orange;
    top: 78px;
    padding-top: 30px;
    text-align: center;
    font-size: 1.3em;
    font-family:'Lato',sans-serif;
    color:#1e1a1a;
    animation-duration: 2s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@keyframes slidein {
    from {
        top: 0;
    }
  
    to {
      top: 78px;
    }
  }

  .main_img
  {
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation-name: apparition;
    animation-duration: 2s;
    
  }

  @keyframes apparition{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
  }

  main{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 100px;
    border-left-width: 100px;
    border-bottom: 200px solid #0088a9;
    margin-top: 100px;

}

.one{
    animation-name: rotation1;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}

.three{
    animation-name: rotation2;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}

@keyframes rotation1{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotation2{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0);
    }
}


.name{
    animation-name: name;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    z-index: 12;
    background-color: palevioletred;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    /* animation-timing-function: ease-out; */
    /* text-align: center; */
    vertical-align: middle;
    color:white;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato",sans-serif;
    visibility: hidden;
    /* padding-top: 150px; */
    /* transform: translateY(130px); */

}


@keyframes name {
    0% {
        background-color: palevioletred;
        width: 100%;
        height: 0;
        position: absolute;
        bottom: cover;
        /* top: 0; */
        /* left: 0; */
        animation-timing-function: cubic-bezier(1.5, 0.82, 0.165, 1);
        
        /* display: none; */
        visibility: visible;
        font-size: 0em;
        
        

    }

    35%{
        font-size: 5em;
    }

    50%{
        animation-timing-function:cubic-bezier(0.25, 0.25, 0.25, 0.25);
        background-color: palevioletred;
        width: 100vw;
        height: 100vh;
        position: absolute;
        bottom: 0;
        /* top: 0; */
        /* left: 0; */

    }

    100%{
        /* animation-timing-function: ease-in; */
        background-color: palevioletred;
        width: 100%;
        height: 0;
        bottom: 2000px;
        position: absolute;
        animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
        left: 0;
    }
}
html,body  
{  
animation-name: bloquer;
animation-duration: 20s ;
}  

@keyframes bloquer{
    
    0%
{  
overflow:hidden;  
}  

100%{
    overflow: visible;
}

}

.suite{
    margin-top: 50px;
}


.p1{
    max-width: 1300px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-family:'Times New Roman', Times, serif;
    color:#24252a;
    font-size: 1.15em;
    /* background-color: orange; */
    color: black;
    border-radius: 25px;
    padding: 10px 25px;
}

h2{
    text-align: center;
    font-family: 'Fresca', sans-serif;
    color: #0088a9;
}

.dash
{
    width: 100%;
    border: 6px orange dashed;
    height: 0;
    border-bottom: none;
}


.triangle2 {
    position: relative;
    background: #0088a9;
    height: cover;
  }
  
  .triangle2::before {
    content: '';
    position:absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #0088a9 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(-500px) rotate(180deg);
  }

  .triangle2::before,.triangle2 {
    margin-top: 100px;
  }

  .gabi2{
    /* width: 500px; */
    z-index: 200;
    width: 350px;
    margin-top: 50px;
    margin-right: 100px;
  }

  .flex2{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
  }

  @media screen and (max-width:800px) {

    .triangle2::before {
        content: '';
        position:absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 100px 0 100px;
        border-color: #0088a9 transparent transparent transparent;
        left: 50%;
        transform: translateX(-50%) translateY(-800px) rotate(180deg);
      }

    .p2{
        margin-top: 50px;
    }



      .flex2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gabi2{
    /* width: 500px; */
    z-index: 200;
    width: 350px;
    margin-top: 100px;
    margin: auto;
  }

  .triangle{
    display: none;
  }
  }



  .p2{
    /* max-width: 1300px; */
    width: 70%;
    /* max-width: 80%; */
    margin: auto;
    margin-top: 70px;
    line-height: 25px;
    /* margin: auto; */
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3em;
    /* background-color: orange; */
    color: white;
    /* border-radius: 25px; */
    /* padding: 10px; */
  }

  h2.secondTitle{
    /* text-align: center; */
    font-family: 'Fresca', sans-serif;
    color: orange;
    margin-top: 70px;
}


  @media screen and (max-width:650px) {

    h2.secondTitle{
        /* text-align: center; */
        font-family: 'Fresca', sans-serif;
        color: orange;
        margin-top: 0px;
    }

    

    .p2{
        /* max-width: 1300px; */
        width: 70%;
        /* max-width: 80%; */
        margin: auto;
        margin-top: 40px;
        /* margin: auto; */
        font-family:'Times New Roman', Times, serif;
        font-size: 1.15em;
        /* background-color: orange; */
        color: white;
        /* border-radius: 25px; */
        /* padding: 10px; */
      }


.gabiPassion{
    margin-top: 50px;
}

.main_img{
    width: cover;
}

.gabi2{

    /* width: 500px; */
    z-index: 200;
    width: 100%;
    margin-top: 30px;



  }

  .triangle2::before {
    display: none;
  }
  }







  
div.flex3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.gabi3{
   width: 350px;
}

.p3{
    font-family: 'Times New Roman', Times, serif;
    width: 50vw;
    font-size: 1.2em;
    /* margin-left: 50%; */
    margin-top: 30px;
}

@media screen and (max-width:774px){
     .lezgo{
       text-align: center;
       width: 200px;
        
    }

    .gabi3{
        width: 100%;
        margin-top: 50px;

    }

    .p3, .lezgo{
        margin-left: 50%;
    }
}

.sep::after{
    content: "";
    
    position: absolute;
    background-color: orange;
    width: 100%;
    height: 20px;
    z-index: 300;
    transform-origin: 0%
    ;
}

/* Big triangle */

.triangle3 {
    position: relative;
    background: #2c3e50;
    height: cover;
  }
  
  .triangle3::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 754px 754px 0 754px;
    border-color: #2c3e50 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%) rotate(180deg);
  }